<div class="hero">
    <div class="entrance-area">
        <h1>Hotel Reserveでまだ体験したことのない旅をしよう</h1>
        <p>エリア</p>
        <%= search_form_for @search, url: hotels_path do |f| %>
            <%= f.text_field :place_cont, placeholder: '東京' , class: 'form_control search-text' %>
            <%= f.submit '探す', class: 'top-search-btn'%>
        <% end %>
    </div>
</div>

<div class="recommend-area">
    <h2>おすすめのエリア</h2>
    <ul class="area-list">
        <li class="area">
            <%= link_to :hotels, class: "area-link" do %>
                <img src="assets/img_tokyo.jpg" alt="" class="area-img">
            <% end %>
        </li>
        <li class="area">
            <%= link_to :hotels, class: "area-link" do %>
                <img src="assets/img_osaka.jpg" alt="" class="area-img">
            <% end %>
        </li>
        <li class="area">
            <%= link_to :hotels, class: "area-link" do %>
                <img src="assets/img_kyoto.jpg" alt="" class="area-img">
            <% end %>
        </li>
        <li class="area">
            <%= link_to :hotels, class: "area-link" do %>
                <img src="assets/img_sapporo.jpg" alt="" class="area-img">
            <% end %>
        </li>
    </ul>
</div>
