<div class="reserve-conf-form-area">
    <span class="reserve-conf-title">予約内容確認</span>
    <hr>
    <%= form_with url: reserve_infos_path do |f| %>
        <div class="reserve-conf-input-form">
        <span class="reserve-conf-price">¥ <%= @hotel.price %> /日</span>
        <span class="reserve-conf-form-label">開始日</span>
            <%= f.text_field :start_date, value: @new_reserve_info.start_date, class: 'reserve-conf-start', readonly: true %>
        </div>
        <div class="reserve-conf-input-form">
        <span class="reserve-conf-form-label">終了日</span>
            <%= f.text_field :end_date, class: 'reserve-conf-end', value: @new_reserve_info.end_date, readonly: true %> <br>
        </div>
        <div class="reserve-conf-input-form">
            <% use_days = (@new_reserve_info.end_date - @new_reserve_info.start_date).to_int %>
            <span class="reserve-conf-use-days">使用日数：<%= use_days %>日</span>
            <hr>
            <span class="reserve-conf-num-label">人数：<%= @new_reserve_info.num_person %>人</span>
            <%= f.number_field :num_person, value: @new_reserve_info.num_person, class: 'show-form-id' %>
            <%= f.number_field :hotel_id, value: @hotel.id, class: 'show-form-id' %>
            <%= f.number_field :user_id, value: session[:user_id], class: 'show-form-id' %>

            <hr>
        </div>
        <div class="reserve-conf-input-form">
        <span class="reserve-conf-form-label">合計金額</span>
            <% price = @hotel.price * @new_reserve_info.num_person * use_days %>
            <%= f.text_field :price, class: 'reserve-conf-total-price', value: price, readonly: true %> <br>
        </div>
        <p class="reserve-conf-disc">上記内容でよろしければ「予約を確定」を押してください</p>
        <hr>
        <%= f.submit "予約を確定", class: 'btn btn-primary reserve-btn' %> <br>
        <%= link_to "ルーム詳細に戻る", hotel_path(@hotel.id), class: "btn btn-secondary" %>
    <% end %>
</div>