<div class="container">
    <h1 class="index-result-count">検索結果：<%= @search_hotel.size %>件</h1>
    <div class="index-search-result">
        <% @search_hotel.each do |hotel| %>
            <div class="index-hotel">
                <%= link_to hotel_path(hotel.id) do %>
                    <% if hotel.image_icon? %>
                        <%= image_tag hotel.image_icon.url, class: "index-img-hotel" %>
                    <% else %>
                        <img src="/assets/test_room.jpg" alt="" class="index-img-hotel">
                    <% end %>
                    <div class="index-hotel-text-area">
                        <p class="index-name"><%= hotel.name %></p>
                        <p class="index-place"><%= hotel.place %></p>
                        <p class="index-price">¥<%= hotel.price %></p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
